#mapid { height: 97.4vh; }

#form {
    display: none; 
    position: absolute; 
    top: 10vh; 
    left: 70vh; 
    height: 70vh; 
    width: 70vh; 
    z-index: 9999; 
    font-family: monospace; 
    font-size: x-large; 
    text-align:center; 
    padding-top: 25px; 
    background-color: white; 
    border-style: solid; 
    border-color: rgb(201, 201, 24);
}

#evName {
    font-size:20;
}

#evDesc {
    color: green;
}

#evGroup {
    font-style: oblique;
}

